<div><%= l(:mail_summary_ruby_and_gems_advisories_found) %></div>

<%-
  {Ruby: @ruby_result, Gems: @gems_result}.each do |key, results|
    results.each do |result|
      case result
      when Bundler::Audit::Scanner::InsecureSource
-%>
<div>
  <ul style="list-style:none;">
    <li>Insecure Source URI found: <%= link_to(result.source, result.source) %></li>
  </ul>
</div>
<%-
      when Bundler::Audit::Scanner::UnpatchedGem
-%>
<div>
  <ul style="list-style:none;">
    <li>Name: <%= result.gem.name %></li>
    <li>Version: <%= result.gem.version %></li>
    <li>Criticality: <%= gem_criticality(result.advisory) %></li>
    <li>URL: <%= link_to(result.advisory.url, result.advisory.url) %></li>
    <li>Title: <%= result.advisory.title %></li>
    <li>Solution: upgrade to <%= result.advisory.patched_versions.join(', ') %></li>
  </ul>
</div>
<%-
      else
        # ignore
      end
    end
  end
-%>
